{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% load tags_blogik5 %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
    <div class="content_inner width1100 clearfix">    
        <div class="main content_format width_auto">
            <section class="section main_section ">
                <h2 class="h2">{% page_attribute "title" %}</h2>
                
                fffff     
                {#% all_docs %#}                
            </section>
        </div>                 
    </div>
{% endblock content %}