{% load cms_tags staticfiles sekizai_tags menu_tags tags_slider tags_feedback %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        
        <title>{% block title %}Test{% endblock title %}</title>

        <!--<link rel="icon" href="images/favicon.ico" type="image/x-icon" />-->
        
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />         

        {% render_block "css" %}             
    </head>

    <body>
        {% cms_toolbar %}

        <div class="wrap">              
            <header class="header">
                <div class="header_inner width1100">
                    <h1 class="h1 hide">Тестовое задание для определения навыков</h1>
                    
                    <a class="logo" href="/">
                        <img class="logo_pic" alt="Test" src="{% static 'images/logo.jpg' %}" width="350" height="170" />
                    </a>
                    
                    <nav class="nav_top">
                        <h2 class="h2 hide">Навигация верхняя</h2>
                        
                        <ul>
                            {% language_chooser %}                         
                        </ul>
                    </nav>

                    <nav class="nav_main">
                        <h2 class="h2 hide">Навигация главная</h2>
                        
                        <ul>
                            {% show_menu 1 2 100 100 %}                       
                        </ul>
                        
                        <a class="mail_link" href="mailto:bg@microsoft.com">
                            <img class="mail_pic" alt="mail" src="{% static 'images/icon_mail.png' %}" width="34" height="26" />
                        </a>
                    </nav>  

                    <div class="slider_head">   
                        {% part_slider %}
                    </div>
                </div>
            </header>
            
            <div class="content">
                {% block content %}{% endblock content %}   
            </div>
            
            <div class="footer_correct"></div>
        </div>
        
        <footer class="footer">
            <div class="footer_inner width1100 content_format">
                {% static_placeholder "copyright" %}
            </div>
        </footer>    

        <div class="modal fade" id="modal-9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <h4 class="modal-title" id="myModalLabel">Спасибо.</h4>
                    </div>
                    
                    <div class="modal-body">
                        <p>Ваша заявка отправлена.</p>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>  

        {% part_feedback_modal %}                       

        <!-- jquery -->
        <script src="{% static 'js/jquery/jquery.2.min.js' %}"></script>
        
        <!-- nivo_slider -->
        <script src="{% static 'js/nivo_slider/jquery.nivo.slider.pack.js' %}"></script>
        <script>
            $(window).load(function() {
                $('#slider').nivoSlider();
            });
        </script>     

        <!-- fancybox2 -->
        <script src='{% static "js/fancybox2/jquery.fancybox2.js" %}'></script> 
        <script>    
            $('.fancybox').fancybox({
                'overlayColor'        : '#ccc',
                //'type'              : 'image',
                helpers: {
                    overlay: {
                        locked: false
                    }   
                }               
            });     
        </script>   

        <!-- modal -->
        <script src="{% static "js/modal/modal.js" %}"></script>       
        <script src="{% static "js/modal/animations.js" %}"></script>                    

        <!-- helper -->  
        <script src="{% static "js/helper/helper.js" %}"></script>       

        {% render_block "js" %}
    </body>
</html>

